# 1) Import the libraries

In [1]:
import nltk
nltk.download('punkt')

# for tokenisation

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
import pandas as pd
import gensim
from gensim.models import Word2Vec,KeyedVectors

C:\Users\User\Anaconda3\lib\site-packages\pandas\compat\_optional.py:106: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

# 2) Data Preprocessing

In [3]:
# google pretrained model
df = pd.read_csv('Word Embeddings/reddit_worldnews_start_to_2016-11-22.csv')
df.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,subreddit
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

In [4]:
df.shape

(509236, 8)

In [5]:
# take the title column
news_titles = df['title'].values

In [6]:
news_titles[:5]

array(['Scores killed in Pakistan clashes',
       'Japan resumes refuelling mission',
       'US presses Egypt on Gaza border',
       'Jump-start economy: Give health care to all ',
       'Council of Europe bashes EU&UN terror blacklist'], dtype=object)

In [7]:
# tokenize the words
new_vec = [nltk.word_tokenize(title) for title in news_titles]

In [8]:
new_vec[0]

['Scores', 'killed', 'in', 'Pakistan', 'clashes']

# 3) Build the model

In [9]:
# text, min word count, size of each vector
model = Word2Vec(new_vec,min_count=1,size=32)

# 4) Predict the output

In [10]:
# see the vector
model.wv('man')

# so this is how man is represented in our vector space

TypeError: 'Word2VecKeyedVectors' object is not callable

In [11]:
# find 10 closest words in the vector space that we have created

model.wv.most_similar('man')

[('woman', 0.9735729694366455),
 ('mother', 0.9118586778640747),
 ('couple', 0.9023760557174683),
 ('teenager', 0.8988059759140015),
 ('boy', 0.8939933776855469),
 ('girl', 0.8886700868606567),
 ('doctor', 0.8748446702957153),
 ('daughter', 0.8615661859512329),
 ('father', 0.8601267337799072),
 ('husband', 0.8539249300956726)]

In [13]:
# Relatinship
vec = model.wv['Germany'] - model.wv['Berlin'] + model.wv['Paris']
model.wv.most_similar([vec])

[('France', 0.8488938212394714),
 ('Belgium', 0.8457121849060059),
 ('Paris', 0.8170459270477295),
 ('Brussels', 0.8030391335487366),
 ('Germany', 0.7989928722381592),
 ('UK', 0.7849736213684082),
 ('Sweden', 0.7839070558547974),
 ('Britain', 0.7743985652923584),
 ('Turkey', 0.7620795965194702),
 ('Egypt', 0.7447131872177124)]

In [ ]:
# Relationship